
body {
  margin: 0%;
  
  padding: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}








@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans");

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}
.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.text-main {
  color: var(--primaryColor);
}
body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.main-link:hover {
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}
.partcle{
  /* background: #5f5e5e; */
  size: 0rem;
  size: 10rem;
  height: 25rem;
}
.partle{
  background: #5f5e5e;
  size: 0rem;
  size: 10rem;
  height: 25rem;

}

.bf{
  padding: 0.05rem 7rem;
  margin-bottom: 1rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  
}

.bf:hover{
  background: #555;
  color: #f2f2f2;
}

.menu_button{
  
  transition: var(--mainTransition);
display: inline-block;
padding: 0.4rem 0.5rem;
margin: 5px;
margin-right: 5px
}

.menu_button:hover{
  background: var(--darkGrey);
  text-decoration: none;
  color: rgb(248, 237, 237);
  outline-color: var(--darkGrey);

}




.forumm{
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 15px;
 
  width: 50%;

}



.text-capitalize{
  height: 2rem;
  margin: 0rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  
}



.form-group{
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 15px;
 
  width: 50%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}




#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}



















.navbar {
  margin-top: 0.2rem;
  width: 100%;
  background-color: #555;
  overflow: auto;
  border-width: 1rem;
 
  border-color: #5fb7ea;
 
  
 
}
.bord{
  border-bottom:1px solid #5fb7ea;

 
  
  
}
.navbar a {
  float: left;
  padding: 8px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 22%; /* Four links of equal widths */
  text-align: center;
  border-bottom: #5fb7ea;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* @import url("https://fonts.googleapis.com/css2?family=Lato:wgh@300;400;700&display=swap");

::-webkit-scrollbar{
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #a5aaad;
}


*{
  margin: 0%;
  padding: 0%;
}

body{
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.text-primary-p{
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold{
  font-weight:700;
}

.text-title{
  color: #2e4a66;
}

.text-lightblue{
  color:#469cac;
}

.text-red{
  color: crimson;
}

.text-green{
  color: #3ea175;
}

.text-yellow{
  color: darkgoldenrod;
}

.container1{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr ;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  "sidebar nav nav nav"
  "sidebar main main main";
}


@media only screen and (max-width: 978 px){
  .container1{
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "nav"
    "main";
  }
} */